
# Track-specific reviewers
languages/ada/*                        @exercism/website-copy-ada
languages/ballerina/*                  @exercism/website-copy-ballerina
languages/bash/*                       @exercism/website-copy-bash
languages/c/*                          @exercism/website-copy-c
languages/ceylon/*                     @exercism/website-copy-ceylon
languages/cfml/*                       @exercism/website-copy-cfml
languages/clojure/*                    @exercism/website-copy-clojure
languages/coffeescript/*               @exercism/website-copy-coffeescript
languages/common-lisp/*                @exercism/website-copy-common-lisp
languages/coq/*                        @exercism/website-copy-coq
languages/cpp/*                        @exercism/website-copy-cpp
languages/crystal/*                    @exercism/website-copy-crystal
languages/csharp/*                     @exercism/website-copy-csharp
languages/d/*                          @exercism/website-copy-d
languages/dart/*                       @exercism/website-copy-dart
languages/delphi/*                     @exercism/website-copy-delphi
languages/elisp/*                      @exercism/website-copy-elisp
languages/elixir/*                     @exercism/website-copy-elixir
languages/elm/*                        @exercism/website-copy-elm
languages/erlang/*                     @exercism/website-copy-erlang
languages/factor/*                     @exercism/website-copy-factor
languages/fortran/*                    @exercism/website-copy-fortran
languages/fsharp/*                     @exercism/website-copy-fsharp
languages/gnu-apl/*                    @exercism/website-copy-gnu-apl
languages/go/*                         @exercism/website-copy-go
languages/groovy/*                     @exercism/website-copy-groovy
languages/haskell/*                    @exercism/website-copy-haskell
languages/haxe/*                       @exercism/website-copy-haxe
languages/idris/*                      @exercism/website-copy-idris
languages/java/*                       @exercism/website-copy-java
languages/javascript/*                 @exercism/website-copy-javascript
languages/julia/*                      @exercism/website-copy-julia
languages/kotlin/*                     @exercism/website-copy-kotlin
languages/lfe/*                        @exercism/website-copy-lfe
languages/lua/*                        @exercism/website-copy-lua
languages/mips/*                       @exercism/website-copy-mips
languages/nim/*                        @exercism/website-copy-nim
languages/objective-c/*                @exercism/website-copy-objective-c
languages/ocaml/*                      @exercism/website-copy-ocaml
languages/perl5/*                      @exercism/website-copy-perl5
languages/perl6/*                      @exercism/website-copy-perl6
languages/pharo-smalltalk/*            @exercism/website-copy-pharo-smalltalk
languages/php/*                        @exercism/website-copy-php
languages/plsql/*                      @exercism/website-copy-plsql
languages/pony/*                       @exercism/website-copy-pony
languages/powershell/*                 @exercism/website-copy-powershell
languages/prolog/*                     @exercism/website-copy-prolog
languages/purescript/*                 @exercism/website-copy-purescript
languages/python/*                     @exercism/website-copy-python
languages/r/*                          @exercism/website-copy-r
languages/racket/*                     @exercism/website-copy-racket
languages/reasonml/*                   @exercism/website-copy-reasonml
languages/ruby/*                       @exercism/website-copy-ruby
languages/rust/*                       @exercism/website-copy-rust
languages/scala/*                      @exercism/website-copy-scala
languages/scheme/*                     @exercism/website-copy-scheme
languages/shen/*                       @exercism/website-copy-shen
languages/sml/*                        @exercism/website-copy-sml
languages/swift/*                      @exercism/website-copy-swift
languages/tcl/*                        @exercism/website-copy-tcl
languages/typescript/*                 @exercism/website-copy-typescript
languages/vbnet/*                      @exercism/website-copy-vbnet
languages/vimscript/*                  @exercism/website-copy-vimscript
languages/x86-assembly/*               @exercism/website-copy-x86-assembly
