# Docs
docs/**/*                              @iHiD @ErikSchierboom

# Badges
badges.md                              @iHiD @ErikSchierboom

# Track-specific reviewers
languages/ada/**/*                     @exercism/ada
languages/ballerina/**/*               @exercism/ballerina
languages/bash/**/*                    @exercism/bash
languages/c/**/*                       @exercism/c
languages/ceylon/**/*                  @exercism/ceylon
languages/cfml/**/*                    @exercism/cfml
languages/clojure/**/*                 @exercism/clojure
languages/coffeescript/**/*            @exercism/coffeescript
languages/common-lisp/**/*             @exercism/common-lisp
languages/coq/**/*                     @exercism/coq
languages/cpp/**/*                     @exercism/cpp
languages/crystal/**/*                 @exercism/crystal
languages/csharp/**/*                  @exercism/csharp
languages/d/**/*                       @exercism/d
languages/dart/**/*                    @exercism/dart
languages/delphi/**/*                  @exercism/delphi
languages/elisp/**/*                   @exercism/elisp
languages/elixir/**/*                  @exercism/elixir
languages/elm/**/*                     @exercism/elm
languages/erlang/**/*                  @exercism/erlang
languages/factor/**/*                  @exercism/factor
languages/fortran/**/*                 @exercism/fortran
languages/fsharp/**/*                  @exercism/fsharp
languages/gnu-apl/**/*                 @exercism/gnu-apl
languages/go/**/*                      @exercism/go
languages/groovy/**/*                  @exercism/groovy
languages/haskell/**/*                 @exercism/haskell
languages/haxe/**/*                    @exercism/haxe
languages/idris/**/*                   @exercism/idris
languages/java/**/*                    @exercism/java
languages/javascript/**/*              @exercism/javascript
languages/julia/**/*                   @exercism/julia
languages/kotlin/**/*                  @exercism/kotlin
languages/lfe/**/*                     @exercism/lfe
languages/lua/**/*                     @exercism/lua
languages/mips/**/*                    @exercism/mips
languages/nim/**/*                     @exercism/nim
languages/objective-c/**/*             @exercism/objective-c
languages/ocaml/**/*                   @exercism/ocaml
languages/perl5/**/*                   @exercism/perl5
languages/perl6/**/*                   @exercism/perl6
languages/pharo-smalltalk/**/*         @exercism/pharo-smalltalk
languages/php/**/*                     @exercism/php
languages/plsql/**/*                   @exercism/plsql
languages/pony/**/*                    @exercism/pony
languages/powershell/**/*              @exercism/powershell
languages/prolog/**/*                  @exercism/prolog
languages/purescript/**/*              @exercism/purescript
languages/python/**/*                  @exercism/python
languages/r/**/*                       @exercism/r
languages/racket/**/*                  @exercism/racket
languages/reasonml/**/*                @exercism/reasonml
languages/ruby/**/*                    @exercism/ruby @iHiD
languages/rust/**/*                    @exercism/rust
languages/scala/**/*                   @exercism/scala
languages/scheme/**/*                  @exercism/scheme
languages/shen/**/*                    @exercism/shen
languages/sml/**/*                     @exercism/sml
languages/swift/**/*                   @exercism/swift
languages/tcl/**/*                     @exercism/tcl
languages/typescript/**/*              @exercism/typescript
languages/vbnet/**/*                   @exercism/vbnet
languages/vimscript/**/*               @exercism/vimscript
languages/x86-assembly/**/*            @exercism/x86-assembly

