###
# Lock files. Arrange alphabetically by language
###

# F#
.ionide

# JavaScript
node_modules/
yarn.lock
package-lock.json

# Python
__pycache__

# Ruby
Gemfile
Gemfile.lock

# Rust
Cargo.lock

# VScode settings
.vscode
.vscode/settings.json

tmp/

# Intellij IDEA project dir
.idea

# Code Spaces
pythonenv3.8
