###
# Lock files. Arrange alphabetically by language
###

# JavaScript
yarn.lock
package-lock.json

# Python
__pycache__

# Ruby
Gemfile
Gemfile.lock

# Rust
Cargo.lock

# VScode settings
.vscode
.vscode/settings.json

tmp/
