name: "Format code"

on:
  issue_comment:
    types: [created]

jobs:
  format:
    name: "Format code"
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request != '' && contains(github.event.comment.body, '/format')
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2
      - name: "Format Markdown code"
        run: |
          # Download the pull request's data
          PULL_REQUEST="/tmp/pr.json"
          PULL_REQUEST_URL=$(jq -r ".issue.pull_request.url" "$GITHUB_EVENT_PATH")
          curl --url $PULL_REQUEST_URL --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' -o "$PULL_REQUEST"

          BASE_REPO_FULL_NAME=$(jq -r ".base.repo.full_name" "$PULL_REQUEST")
          HEAD_REPO_FULL_NAME=$(jq -r ".head.repo.full_name" "$PULL_REQUEST")
          HEAD_REF=$(jq -r ".head.ref" "$PULL_REQUEST")

          # We cannot push commits to forks
          if [ "$BASE_REPO_FULL_NAME" != "$HEAD_REPO_FULL_NAME" ]; then
            echo "Cannot format code on a fork"
            exit 1
          fi

          # Checkout the PR branch, as issue will have the repo default branch checked out
          git fetch origin "$HEAD_REF"
          git checkout -b "$HEAD_REF" "origin/$HEAD_REF"

          # Download the pull request files' data
          PULL_REQUEST_FILES="/tmp/pr-files.json"
          PULL_REQUEST_FILES_URL="${PULL_REQUEST_URL}/files"
          curl --url $PULL_REQUEST_FILES_URL --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' -o "$PULL_REQUEST_FILES"

          # Use prettier to format the added or modified Markdown files in the PR (if any)
          jq -c '.[] | select(.status == "added" or .status == "modified") | select(.filename | match(".md$")) | .filename' $PULL_REQUEST_FILES | xargs npx prettier --write

          # Check if there is nothing to commit (i.e. no formatting changes made)
          if [ -z "$(git status --porcelain)" ]; then 
            echo "Code is already formatted correctly"
            exit 0
          fi

          # Setup the git user (required to commit anything)
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

          # Commit the changes made by prettier
          git add .
          git commit -m "[CI] Format Markdown code"
          git push
