name: "Pull Request Labeler"

on:
- pull_request

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@04aa5dbc72538e0b9194c658a9ad6026b865d039
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
