name: Check maximum file size

on:
  push:
  pull_request:

jobs:
  max-file-size:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Fetch everything
        run: git fetch --prune --unshallow

      - name: Error if any file is above 1 MB
        run: |
          FILES="$(git diff --name-only origin/master...)"

          for FILE in $FILES; do
            [ "$(stat --printf="%s" "$FILE")" -gt 100000 ] && (echo "$FILE is larger than 1 MB\nPlease ping @ihid if you are sure that this file is required." && exit 1)
          done
