name: "Verify Markdown formatting"

on:
  push:
    paths:
      - "**.md"
  pull_request:
    paths:
      - "**.md"

jobs:
  verify-markdown-formatting:
    runs-on: [ubuntu-latest]
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2

      - name: "Verify formatting of all Markdown files"
        if: github.ref == 'refs/heads/master'
        run: npx prettier@2.0.4 --check "**/*.md"

      - name: "Verify formatting of the PR's Markdown files"
        if: github.ref != 'refs/heads/master' && github.event.pull_request.url
        run: |
          PULL_REQUEST_URL=$(jq -r ".pull_request.url" "$GITHUB_EVENT_PATH")
          curl --url $"${PULL_REQUEST_URL}/files" --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' | \
            jq -c '.[] | select(.status == "added" or .status == "modified") | select(.filename | match(".md$")) | .filename' | \
            xargs npx prettier@2.0.4 --write
